############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3