check process mongod with pidfile /usr/local/var/mongodb/mongod.lock
    start program = "/usr/local/bin/brew services start mongodb-community@4.2"
    stop program = "/usr/local/bin/brew services stop mongodb-community@4.2"
    restart program = "/usr/local/bin/brew services restart mongodb-community@4.2"
#	if succeeded
#		host localhost port 27017 type tcp
#	then alert
	if failed
		host localhost port 27017 type tcp
	then restart
#	if succeeded
#		unixsocket /tmp/mongodb-27017.sock
#	then alert
#	if failed
#		unixsocket /tmp/mongodb-27017.sock
#	then restart